body{
    background-color: rgba(145, 145, 145, 0.432);
}

h1 {
    font-family: sans-serif;
    margin-top: 3%;
}

.table {
    width: 95%;
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 43px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
        color: white;
        text-decoration: none;
}

button{
    width: 3cm;
}

#footer {
    padding-top: 41px;
}

#home {
    color: black;
    -webkit-text-stroke: thick;
}