*{
    margin: 0;padding: 0;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.logo h1 {
    margin-left: 65px;
    color: white;
    font-family: monospace;
    font-size: 1cm;
}

.logo h1:hover{
    color: rgba(255, 255, 255, 0.842);
}

nav#navbar_doctor_homepage {
    display: flex;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 10px;
    background-color: #000076;
}

.navItems_flex_doctor {
    display: flex;
    margin-left: 14%;
    margin-top: 10px;
    font-size: large;
}

.navItems_flex_doctor a{
    color: white;
    text-decoration: none;
}

.navItems_doctor {
    margin-left: 80px;
}

#doctor_carasol_homepage{
    display: flex;
    height: 14cm;
    background-color: #3eaffae1;
}
#doctor-top-image {
    height: 10cm;
    margin-top: 2cm;
    margin-left: 3cm;
    width: max-10cm;
}
.dr_writings {
    width: 16cm;
}
.dr_writings h2 {
    color: white;
    margin-top: 140px;
    font-size: 3pc;
    width: 12cm;
    margin-left: 2.5cm;
}

.dr_writings p {
    width: 59%;
    text-align: center;
    font-family: system-ui;
    color: white;
    border: solid 1px black;
    padding: 12px;
    margin-left: 5pc;
}

.dr_writings button {
    margin-left: 32%;
    cursor: pointer;
    height: 1cm;
    border: none;
    background: #0184ff;
    color: white;
    padding: 14px;
}

section#doctor-card-one {
    display: flex;
    margin-top: -1.5cm;
}
.services{
    background-color: rgb(209, 200, 200);
}

.showServices{
    display: flex;
    margin-left: 15%;
}

#services_heading_centered {
    padding-top: 31px;
    padding-bottom: 15px;
}

.doctorBookingForm {
    margin-top: 21px;
    width: max-content;
    margin-left: 28%;
    margin-bottom: 20px;
}

input {
    width: 15cm;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 30px;
    margin-top: 5px;
}
label {
    color: gray;
}

select#doctorSelectInput {
    width: 11cm;
    margin-bottom: 10px;
    height: 30px;
    margin-left: 33px;
}

select#selection_doctor_name{
    width: 11cm;
    height: 30px;
    margin-left: 47px;
}

button#doctorBook {
    margin-left: 73px;
    width: 80%;
    padding: 9px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 6px;
    border: none;
    color: floralwhite;
    background-color: #01c001;
}
button#doctorBook:hover{
    background-color:  #057205;
}

.doctorBookAppointment h1{
    margin-top: 10px;
}